.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  height: 25rem;
  width: 25rem;
  border: 2px solid black;
  /* margin: 5rem auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inner {
  border: 1px solid red;
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
}
